* {
  font-family: sans-serif;
  word-wrap: normal;
}

body {
  /* width: 800px; */
  margin: 0;
  background-image: url('/images/bats.gif');
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 36px;
  color: black;
  margin: 0;
}

h2 {
  font-size: 28px;
  margin: 10px 0 0 0;
}

header {
  padding: 10px;
  background-image: linear-gradient(45deg, white 0%, orange 50%, black 100%);
  border: solid black;
}

main > h1 {
  font-size: 26px;
}

main {
  display: flex;
}

li {
  padding-bottom: 5px;
}

a {
  color: orange;
}

a:hover {
  color: green;
}


footer {
  text-align: center;
  font-size: 13px;
  padding: 10px 10px !important;
  background-image: linear-gradient(-45deg, white 0%, orange 50%, black 100%);
}

.nav_img {
  width: 75px;
  float: left;
}

.card {
  width: 60vw;
  border: solid;
  background-color: white;
  box-shadow: 0 0 5px 5px black;
}

.card > main,
footer {
  border: solid black;
  padding: 20px 15px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}

a {
  display: block;
  text-decoration: none;
}

.navbar > a {
  color: white;
}

.navbar > a:hover {
  background-color: grey;
}

.sidebar {
  margin-left:  20px;
  margin-right: 40px;
  width: 20%;
}

.sidebar ul {
  padding: 0;
  list-style-type: none;
}

li {
  padding: 5px;
  background-color: orange;
  margin: 10px 0;
  border: 3px solid;
}

li a {
  color: black;
  font-weight: bold;
}

@media (max-width: 800px) {
  * {
    font-size: 0.5em !important;
  }
  
  .nav_img {
     max-width: 100%;
  height: auto;
  }

  body {
    background-image: none;
    border: none;
  }
}

@media (max-width: 479px) {
  header {
    font-size: 2em;
  }

  main > h2 {
    font-size: 1em;
  }
}